<a href="https://colab.research.google.com/github/Rakshithauppu/python-new/blob/module-5/python_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Reg Ex in python
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("Portugal", txt)
print(x)

[]

In [5]:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [50]:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search("Portugal", txt)
print(x)

None

In [51]:
## split at each white space character
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.split("\s", txt)
print(x)

['you', 'are', '101', 'tymes', 'beautiful', 'today', 'compared', 'to', 'everyday']

In [53]:
import re 
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search ("are",txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [55]:
## find all
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("e", txt)
print(x)

['e', 'e', 'e', 'e', 'e', 'e']

In [56]:
## sub function
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.sub("\s", "9", txt)
print(x)

you9are91019tymes9beautiful9today9compared9to9everyday

In [57]:
## #Replace the first two occurrences of a white-space character with the digit 9:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.sub("\s", "9", txt, 2)
print(x)

you9are9101 tymes beautiful today compared to everyday

In [60]:
# Meta characters
## Check if the string starts with 'hello':
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

No match

In [62]:
#Find all lower case characters alphabetically between "a" and "m":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[a-d]", txt)
print(x)

['a', 'b', 'a', 'd', 'a', 'c', 'a', 'd', 'd', 'a']

In [63]:
## find all digit characters
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\d", txt)
print(x)

['1', '0', '1']

In [71]:
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("be.....ul", txt)
print(x)

['beautiful']

In [68]:
#Check if the string ends with 'planet':
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("today$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

No match

In [69]:
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("ty.*s", txt)
print(x)

['tymes']

In [72]:
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o": 
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("co.....d", txt)
print(x)

['compared']

In [74]:
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
import re
txt = "you are 101 times beautiful today compared to everyday"
x = re.findall("ti.?s", txt)
print(x)

[]

In [76]:
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("ev.{5}y", txt)
print(x)

['everyday']

In [77]:
#Check if the string contains either "falls" or "stays":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("you|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['you']
Yes, there is at least one match!

In [78]:
### special sequences
#Check if the string starts with "The":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\Aare", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

[]
No match

In [79]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [80]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [81]:
#Check if "ain" is present, but NOT at the beginning of a word:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [82]:
#Check if the string contains any digits (numbers from 0-9):
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['1', '0', '1']
Yes, there is at least one match!

In [83]:
#Return a match at every no-digit character:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'o', 'u', ' ', 'a', 'r', 'e', ' ', ' ', 't', 'y', 'm', 'e', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 't', 'o', 'd', 'a', 'y', ' ', 'c', 'o', 'm', 'p', 'a', 'r', 'e', 'd', ' ', 't', 'o', ' ', 'e', 'v', 'e', 'r', 'y', 'd', 'a', 'y']
Yes, there is at least one match!

In [84]:
#Return a match at every white-space character:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
Yes, there is at least one match!

In [85]:
#Return a match at every NON white-space character:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'o', 'u', 'a', 'r', 'e', '1', '0', '1', 't', 'y', 'm', 'e', 's', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', 't', 'o', 'd', 'a', 'y', 'c', 'o', 'm', 'p', 'a', 'r', 'e', 'd', 't', 'o', 'e', 'v', 'e', 'r', 'y', 'd', 'a', 'y']
Yes, there is at least one match!

In [86]:
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
Yes, there is at least one match!

In [88]:
#Check if the string ends with "Spain":
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("compared\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

[]
No match

In [90]:
## sets
#Check if the string has any a, r, or n characters:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[day]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'a', 'y', 'a', 'd', 'a', 'y', 'a', 'd', 'y', 'd', 'a', 'y']
Yes, there is at least one match!

In [92]:
#Check if the string has any characters between a and n:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[a-c]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['a', 'b', 'a', 'a', 'c', 'a', 'a']
Yes, there is at least one match!

In [94]:
#Check if the string has other characters than a, r, or n:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[^ca]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'o', 'u', ' ', 'r', 'e', ' ', '1', '0', '1', ' ', 't', 'y', 'm', 'e', 's', ' ', 'b', 'e', 'u', 't', 'i', 'f', 'u', 'l', ' ', 't', 'o', 'd', 'y', ' ', 'o', 'm', 'p', 'r', 'e', 'd', ' ', 't', 'o', ' ', 'e', 'v', 'e', 'r', 'y', 'd', 'y']
Yes, there is at least one match!

In [95]:
#Check if the string has any 0, 1, 2, or 3 digits:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['1', '0', '1']
Yes, there is at least one match!

In [96]:
#Check if the string has any digits:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['1', '0', '1']
Yes, there is at least one match!

In [97]:
#Check if the string has any two-digit numbers, from 00 to 59:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['10']
Yes, there is at least one match!

In [98]:
#Check if the string has any characters from a to z lower case, and A to Z upper case:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['y', 'o', 'u', 'a', 'r', 'e', 't', 'y', 'm', 'e', 's', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', 't', 'o', 'd', 'a', 'y', 'c', 'o', 'm', 'p', 'a', 'r', 'e', 'd', 't', 'o', 'e', 'v', 'e', 'r', 'y', 'd', 'a', 'y']
Yes, there is at least one match!

In [99]:
#Check if the string has any + characters:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [100]:
## Findall Function
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("ai", txt)
print(x)

[]

In [101]:
## Return an empty list if no match was found:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.findall("Portugal", txt)
print(x)

[]

In [102]:
## sub function
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.sub("\s", "9", txt)
print(x)

you9are91019tymes9beautiful9today9compared9to9everyday

In [103]:
## Replace the first 2 occurrences:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.sub("\s", "9", txt, 2)
print(x)

you9are9101 tymes beautiful today compared to everyday

In [104]:
## Match function
##this will print an object
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search("ai", txt)
print(x)

None

In [106]:
## Print the position (start- and end-position) of the first match occurrence.
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search(r"\bb\w+", txt)
print(x.span())

(18, 27)

In [111]:
## Print the string passed into the function:
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search(r"\be\w+", txt)
print(x.string)

you are 101 tymes beautiful today compared to everyday

In [109]:
## Print the part of the string where there was a match.
import re
txt = "you are 101 tymes beautiful today compared to everyday"
x = re.search(r"\bt\w+", txt)
print(x.group())

tymes